@import 'variables';

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  height: 100%;
}

body {
  background-color: $white;
  color: $gray-800;
  display: flex;
  flex-flow: column;
  font-size: 1rem;
  font-family: $gl-regular-font;
  line-height: 1.5;
  min-height: 100%;
  position: relative;
  -webkit-font-smoothing: antialiased;

  code {
    font-size: 0.875rem;
    font-family: $gl-monospace-font;
  }
}

// Fluid images by default
img {
  display: block;
  height: auto;
  width: 100% \9; // Force IE10 and below to size SVG images correctly
  max-width: 100%;
}
